/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'akkuratregular';
  src: url('akkurat-webfont.woff2') format('woff2'),
       url('akkurat-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'goldenbookw01-lightregular';
  src: url('goldenbook-webfont.woff2') format('woff2'),
       url('goldenbook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*Layout*/



*{
  box-sizing: border-box;
}

section{
  display: flex;
  flex-direction: column-reverse;
  max-width: 1140px;
  font-family: "akkuratregular";

}
main{
  max-width: 600px;
}

/* img{
  width:100vw;
} */

h1{
  color: transparent;
  position: absolute;
  top:0;
}

p{
  font-size: 16px;
  line-height: 36px;
  color: #6a6a6a;
}

.headline{
  font-family: "goldenbookw01-lightregular";
  font-size: 75px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

nav a{
  color:#b4b4b4;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 639px) {
  main{
    padding:0 28px;
    width:100vw;
  }
  p{
    font-size: 14px;
    line-height: 32px;
  }
  .headline{
    margin-top: 65px;
    font-size: 45px;
    margin-bottom: 30px;
  }
  .imageBox{
    height:120vw;
    width:100vw;
    position: relative;
  }
  img{
    object-position: right top;
    object-fit: cover;
    height:120vw;
  }
  .imageBox span{
    position: absolute;
    bottom:-20px;
    font-size: 10px;
    padding-left: 10px;

  }
  img{
    display: inline-block
  }
  nav a{
    margin-right: 35px;
  }
  nav{
    margin-top: 50px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 640px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }

  section{
    flex-direction: row;  
    height:100vh;
    overflow: hidden;
    justify-content: space-between;
    width:100vw;
    height: 90vh;
    max-height: 800px;
    align-items: flex-start;
    align-items: center;
    padding:0 20px;
  }

  .imageBox{
    max-width: 400px;
  }

  img{
    display: block;
    width: 100%;
  }

  .imageBox span{
    position: absolute;
    bottom:0px;
    font-size: 10px;
    padding-left: 10px;
  }

  p{
    padding-right: 20px;
  }
  nav{
    margin-top: 50px;
  }
  nav a{
    margin-right: 65px;
  }

  .headline{
    margin-bottom: 30px;
  }
}




