/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'akkuratregular';
  src: url('akkurat-webfont.woff2') format('woff2'),
       url('akkurat-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'goldenbookw01-lightregular';
  src: url('goldenbook-webfont.woff2') format('woff2'),
       url('goldenbook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*Layout*/



*{
  box-sizing: border-box;
}

section{
  display: flex;
  flex-direction: column-reverse;
  font-family: "akkuratregular";

}

.imageBox span{
  font-size: 16px;
  padding-left: 10px;
  font-family: 'EB Garamond', serif;
  position: absolute;
  bottom:-20px;
  left: 0;
}

/* img{
  width:100vw;
} */

h1{
  color: transparent;
  position: absolute;
  top:0;
}

p{
  font-size: 16px;
  line-height: 36px;
  color: #6a6a6a;
}

.headline{
  font-family: "goldenbookw01-lightregular";
  font-size: 75px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

nav a{
  color:#b4b4b4;
  font-size: 16px;
  text-decoration: none;
}


@media screen and (max-width: 639px) {
  main{
    padding:0 28px;
    width:100vw;
  }
  p{
    font-size: 14px;
    line-height: 32px;
  }
  .headline{
    margin-top: 65px;
    font-size: 45px;
    margin-bottom: 40px;
  }
  .imageBox{
    height:120vw;
    width:100vw;
    position: relative;
    margin-bottom: 40px;
  }
  img{
    object-position: right top;
    object-fit: cover;
    height:120vw;
    width:100vw;
  }
  .imageBox span{
    padding-left: 28px;
    bottom: -40px;
    font-size: 14px;
  }

  img{
    display: inline-block
  }
  nav a{
    margin-right: 30px;
    font-size: 14px;
  }
  nav{
    margin-top: 50px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 640px) {
  @keyframes fadeIn{
    0%{opacity: 0; transform: translateY(-30px)}
    100%{opacity: 1;transform: translateY(0px)}
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }

  section{
    flex-direction: row;  
    height:100vh;
    justify-content: space-between;
    width:82vw;
    align-items: flex-start;
    align-items: center;
    padding:0 20px;
  }

  main{
    width: 55%;
  }

  .imageBox{
    position: relative;
    width:36%;
    max-height: 80vh;
    background-color: green;
    max-width: 1077px;
    opacity: 0;
    animation: fadeIn 0.3s 0.6s forwards;
  }

  img{
    display:block;
    width: 100%;
    object-fit: cover;
    max-height: 80vh;
  }

  .imageBox span{
    position: absolute;
    bottom:-2.5vw;
    padding-left: 0;
    font-size: 1.15vw;
  }

  p{
    padding-right: 20px;
    font-size: 1.15vw;
    line-height: 2.35vw;
    opacity: 0;
    animation: fadeIn 0.3s 0.4s forwards;
  }
  nav{
    margin-top: 50px;
    opacity: 0;
    animation: fadeIn 0.3s 0.6s forwards;
    /**/
  }
  nav a{
    margin-right: 65px;
    font-size: 1.15vw;
  }

  .headline{
    margin-bottom: 30px;
    font-size: 5.5vw;
    display: block;
    opacity: 0;
    animation: fadeIn 0.3s 0.2s forwards;
  }
}
@media screen and (min-width: 1500px) {
  img{
    display:block;
    width: 100%;

  }
}




